{% if blog and blog.id %}
	<script>
		$('#usave, #lsave').click(function () {
			var postId = $(this).data('post-id');
				$.ajax({
					type: 'POST',
					url: `{% url 'like_unlike_post' blog.id %}`,
					data: { p: postId, b: this.id},
					success: function (data) {
						$('#tlik').html(data.like_count);
						$('#dlik').html(data.dislike_count);
						// $("form")[0].reset();
					}
				});
		});

		$('#show-comments-btn').click(function () {
			var postId = $(this).data('post-id');
			var commentsContainer = $('#comments-container');

			if (commentsContainer.children().length === 0) {
				$.ajax({
					type: 'GET',
					url: `{% url 'load_comments' blog.id %}`,
					success: function (data) {
						commentsContainer.html(data);
					}
				})
			}
			commentsContainer.toggle();
		});
	</script>
{% endif %}