{% extends 'base.html' %}

{% block content %}
  <article>
    <div class="row">
      <div class="col-8">
        <h1>{{ blog.title }}</h1>
        <img src="/media/{{ blog.image }}" class="card-img-top" width="350" height="400">
      </div>
    </div>
    <div>
      <p>{{ blog.content }}</p>
    </div>
  </article>
  
  <div class="row">
    <div class="col-4" offset-2>
      <button id="show-comments-btn" data-post-id="{{ blog.id }}" class="custom-button">Comments</button>
      {% if comments %}
        <div id="comments-container"></div>
      {% else %}
         <p>No comments</p>
      {% endif %}
      
      <form method="post" action="{% url 'create_comment' blog.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-3">
          {% with like_count=blog.get_like_count %}
          <form action="" method="post">
            {% csrf_token %}
            <input type="button" id="lsave" data-post-id="{{ blog.id }}" value="Like: " class="custom-button"></input><span id="tlik">{{ like_count }}</span>
          </form>
          {% endwith %}
        </div>
        <div class="col-3">
          {% with dislike_count=blog.get_dislike_count %}
            <form action="" method="post">
              {% csrf_token %}
              <input type="button" id="usave" data-post-id="{{ blog.id }}" value="Dislike:  " class="custom-button"></input><span id="dlik">{{ dislike_count }}</span>
            </form>
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'index' %}" style="background-color: #FF5733; color: white;" class="btn mt-2">Back to the main page</a>
		
  
  {% endblock content %}
