{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to the Blog</h1>
  <a href="{% url 'create_blog' %}" class="btn btn-primary">Create Blog</a>
  <ul>
  {% for post in blogs %}
    <li>
      <h2>
        {% if post.image %}
          <img src="/media/{{ post.image }}" class="card-img-top" width="250" height="180">
        {% else %}
          <p>No image available</p>
        {% endif %}
        <p>
          {{ post.content|truncatechars:200 }}</p>
        <h2>
          {% if post.pdf_file %}
            <a href="{{ post.pdf_file.url }}" target="_blank">document</a>
          {% endif %}
        </h2>
        <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a>
        <a href="{% url 'edit_blog' post.id %}">Edit Post</a>
        <form action="{% url 'delete_blog' post.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="confirmation_code" value="DELETE">
          <input type="submit" value="Delete Blog" onclick="return confirm('Are you sure you want to delete this blog?')">
        </form>
      </h2>
    </li>
  {% empty %}
    <li>No blog posts available.</li>
  {% endfor %}
  </ul>
{% endblock content %}